In [24]:
from sklearn import preprocessing
import pandas as pd

In [83]:
df = pd.read_csv("../input/train_cat2.csv").head(500)
cols = [c for c in df.columns if c not in ["id","target"]]
print(cols)

['bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1', 'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9', 'ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day', 'month']

In [84]:
cat_feats = cols

In [85]:
old_names = []
new_names = []
store_df = None
df= df.dropna(axis=0).reset_index()
for c in cat_feats:
    lbl = preprocessing.LabelBinarizer()
    lbl.fit(df[c].values)
    val = lbl.transform(df[c].values) #  array 
    old_names.append(c)
    new_names+= [c+ f"__bin_{j}" for j in range(val.shape[1])]
    if store_df is None:
        store_df = pd.DataFrame(val)
    else:
        store_df = pd.concat([store_df, pd.DataFrame(val)], axis=1)
        print(store_df.shape)
    #list_val += list(val)

    # self.output_df = self.output_df.drop(c, axis=1)
    # new_col_names  = [c+ f"__bin_{j}" for j in range(val.shape[1])]
    # self.output_df[new_col_names] = pd.DataFrame(val)
    # # for j in range(val.shape[1]):
    # #     # make sure no coln has these names
    # #     new_col_name = c+ f"__bin_{j}"
    # #     self.output_df[new_col_name] = val[:,j]
    # self.binary_encoders[c] = lbl

(207, 2)
(207, 3)
(207, 4)
(207, 5)
(207, 8)
(207, 14)
(207, 20)
(207, 26)
(207, 30)
(207, 210)
(207, 395)
(207, 526)
(207, 645)
(207, 841)
(207, 844)
(207, 849)
(207, 855)
(207, 869)
(207, 891)
(207, 999)
(207, 1006)
(207, 1018)

In [86]:
store_df.shape, df.shape, len(new_names)

((207, 1018), (207, 26), 1018)

In [87]:
output_df = df.drop(old_names, axis=1)
output_df.shape

(207, 3)

In [88]:

print(len(new_names), store_df.shape, df.shape)
print(new_names[0])

1018 (207, 1018) (207, 26)
bin_0__bin_0

In [89]:
len(new_names), store_df.shape

(1018, (207, 1018))

In [90]:
store_df.head(2)

,0,0,0,0,0,0,1,2,0,1,...,2,3,4,5,6,7,8,9,10,11
0,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0

In [91]:
output_df.head(2)

   index  id  target
0      0   0       0
1      6   6       0

In [92]:
store_df.head(2)

,0,0,0,0,0,0,1,2,0,1,...,2,3,4,5,6,7,8,9,10,11
0,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0

In [93]:
t= pd.concat([output_df, store_df],axis=1) 
t.shape

(207, 1021)

In [94]:
t.shape , len(output_df.columns.tolist()+ new_names)

((207, 1021), 1021)

In [95]:
t.columns = output_df.columns.tolist()+ new_names
t

,index,id,target,bin_0__bin_0,bin_1__bin_0,bin_2__bin_0,bin_3__bin_0,bin_4__bin_0,nom_0__bin_0,nom_0__bin_1,...,month__bin_2,month__bin_3,month__bin_4,month__bin_5,month__bin_6,month__bin_7,month__bin_8,month__bin_9,month__bin_10,month__bin_11
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,6,6,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,7,7,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10,10,1,0,0,1,1,1,1,0,...,0,0,1,0,0,0,0,0,0,0
4,11,11,0,0,0,1,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,489,489,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
203,490,490,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
204,493,493,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
205,495,495,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
206,499,499,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0

In [96]:
for i,c in enumerate(new_names):
    output_df[c] = store_df.iloc[:,i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

In [38]:
output_df.shape

(207, 1020)